{% extends "base.html" %}
{% load static %}
{% block title %} Employee {% endblock title %}

{% block content %}


<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Employee</div>
            <div class="ms-auto"><button class="btn btn-primary radius-30 mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
                <i class="bx bxs-plus-square"></i>Add Employee</button></div>
        </div>
        <!--end breadcrumb-->
      
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">  
                    <div id="error-messages" style="color: red;"></div>                
                </div>
                <div class="table-responsive" id="employeeTableId">
                    <table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Employee Id</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Joining Date</th>
                            <th>Working Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Table rows dynamically generated in your Django view -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% include "employee/modal/add_employee.html" %}

    </div>
</div>
<!--end page wrapper -->
{% endblock content %}


{% block scripts %}

<script>

$(document).ready(function() {
   // Get All Employee function call
    fetchAllEmployees();

    // Get All Employee function
    function fetchAllEmployees() {
        axios.get("employeedata/")
            .then(function (res) {
                $('#employeeTable').DataTable({
                    "bDestroy": true,
                    data: res.data,
                    columns: [
                        { data: 'ID' },
                        { data: 'FullName' },
                        { data: 'EmpId' },
                        { data: 'Department' },
                        { data: 'Designation' },
                        { data: 'Joining_Date' },
                        { data: 'Working_Status' },
                        { data: 'Action' }
                    ]
                });
            })
            .catch(function (err) {
                console.log(err);
            });
    }   

    $("#btnpersonalsave").click(function(e){
        e.preventDefault();
        console.log("Save Button Clicked !");

        let form = $("#emp_personalForm")[0];
        let formData = new FormData(form);


        $.ajax({
            url: "{% url 'createEmpPersonal' %}",
            method: "POST",
            data: formData,
            dataType: "json",
            processData: false, // Important: prevent jQuery from processing the data
            contentType: false, // Important: let the browser set the content type
            success: function(data){
                if(data.status == "save"){
                    toastr.success('Personal Data Save Successfully'); 
                    console.log(data.id);
                    document.getElementById('emp_personal').value= data.id;
                }else if(data.status == "error"){
                    toastr.error('Personal Data Save Error' + data.message);
                }
            }
        });
        });

        $("#btnprofessionalsave").click(function(e){
            e.preventDefault();
            console.log("Save Professional Button Clicked !");
    
            let form = $("#emp_professionalForm")[0];
            let formData = new FormData(form);

            console.log(formData);
        
            $.ajax({
                url: "{% url 'createEmpProfessional' %}",
                method: "POST",
                data: formData,
                dataType: "json",
                processData: false, // Important: prevent jQuery from processing the data
                contentType: false, // Important: let the browser set the content type
                success: function(data){
                    if(data.status == "save"){
                        toastr.success('Professional Data Save Successfully'); 
                        fetchAllEmployees();
                        form.reset();
                        $("#addEmployeeModal").modal('hide');
                    }else if(data.status == "error"){
                        console.log(data.message);
                        toastr.error('Data Save Error' + data.message);
                    }
                }
            });
            });

                // Delete Data
    $("#employeeTableId").on("click", ".btn-delete", function(e) {
        e.preventDefault();
        var empId = $(this).data("empid");
        console.log("delete Id:"+empId);

        Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
		if (result.isConfirmed) {
			axios.defaults.xsrfHeaderName = "X-CSRFToken";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios.delete("delete_employee/" + empId + "/")
            .then(function(response) {
                console.log(response);
                if(response.status == 200){
                    toastr.success('Employee Deleted successfully');
                    fetchAllEmployees();
                }else{
                    toastr.error('Employee Deleted Failed');
                    fetchAllEmployees();
                }
            })
            .catch(function(error) {
                console.error("Failed to Delete Employee:", error);
            });
            }
		})        
    });

    // Edit Button Clicked
    $("#employeeTableId").on("click", ".btn-edit", function(e) {
        e.preventDefault();
        var empId = $(this).data("empid");
        console.log("Edit button clicked for Emp ID:", empId);

        axios.get("edit_employee/" + empId + "/")
        .then(function(response) {
            var data = response.data;
            var data1 = response.data1;
            console.log(data);
            console.log(data1);
            $("#emp_personal_id").val(data.id);
            $("#titleid").val(data.title);
            $("#religionid").val(data.religion);            
            $("#first_nameid").val(data.first_name);
            $("#middle_nameid").val(data.middle_name);
            $("#last_nameid").val(data.last_name);
            $("#emailid").val(data.email);
            $("#phoneid").val(data.phone);
            $("#mobileid").val(data.mobile);
            $("#father_nameid").val(data.father_name);
            $("#mother_nameid").val(data.mother_name);
            $("#spouse_nameid").val(data.spouse_name);
            $("#dobid").val(data.dob);
            $("#genderid").val(data.gender);
            $("#blood_groupid").val(data.blood_group);
            $("#last_educationid").val(data.last_education);
            $("#nationalidid").val(data.national_id);
            
            $("#btnpersonalsave").val("Update");

            $("#emp_personal").val(data.emp_personal_id);
            $("#departmentid").val(data.department);
            $("#sectionid").val(data.section);            
            $("#employeeid_id").val(data.employee_id);
            $("#pf_noid").val(data.pf_no);
            $("#designationid").val(data.designation);
            $("#joining_dateid").val(data.joining_date);
            $("#card_noid").val(data.card_no);
            $("#overtimeid").val(data.overtime);
            $("#transportid").val(data.transport);
            $("#working_statusid").val(data.working_status);
            $("#cperiodid").val(data.confirm_period);


        })
        .catch(function(error) {
            console.error("Failed to edit bank:", error);
        });
    });


});
</script>

{% endblock scripts %}