{% extends "base.html" %}
{% load static %}
{% block title %} Employee {% endblock title %}

{% block content %}


<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Employee</div>
            <div class="ms-auto"><button class="btn btn-primary radius-30 mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
                <i class="bx bxs-plus-square"></i>Add Employee</button></div>
        </div>
        <!--end breadcrumb-->
      
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">                  
                </div>
                <div class="table-responsive" id="employeeTableId">
                    <table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Employee Id</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Joining Date</th>
                            <th>Working Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Table rows dynamically generated in your Django view -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% include "employee/modal/add_employee.html" %}

    </div>
</div>
<!--end page wrapper -->
{% endblock content %}


{% block scripts %}

<script>

$(document).ready(function() {
   // Get All Designation function call
    fetchAllEmployees();

    // Get All Designation function
    function fetchAllEmployees() {
        axios.get("employeedata/")
            .then(function (res) {
                $('#employeeTable').DataTable({
                    "bDestroy": true,
                    data: res.data,
                    columns: [
                        { data: 'ID' },
                        { data: 'FullName' },
                        { data: 'EmpId' },
                        { data: 'Department' },
                        { data: 'Designation' },
                        { data: 'Joining_Date' },
                        { data: 'Working_Status' },
                        { data: 'Action' }
                    ]
                });
            })
            .catch(function (err) {
                console.log(err);
            });
    }   

    $("#btnpersonalsave").click(function(e){
        e.preventDefault();
        console.log("Save Button Clicked !");

        let form = $("#emp_personalForm")[0];
        let formData = new FormData(form);


        $.ajax({
            url: "{% url 'createEmpPersonal' %}",
            method: "POST",
            data: formData,
            dataType: "json",
            processData: false, // Important: prevent jQuery from processing the data
            contentType: false, // Important: let the browser set the content type
            success: function(data){
                if(data.status == "save"){
                    toastr.success('Personal Data Save Successfully'); 
                    console.log(data.id);
                    document.getElementById('emp_personal').value= data.id;
                }else if(data.status == "error"){
                    toastr.error('Personal Data Save Error');
                }
            }
        });



        });
});
</script>

{% endblock scripts %}