{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block content %}

<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Supplier Ledger</div>
        </div>
        <!--end breadcrumb-->
      
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    <div class="position-relative">
                        <input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="supplierLedger" class="table table-striped table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th>SL</th>
                                <th>Supplier</th>
                                <th>Total Amount</th>
                                <th>Paid</th>
                                <th>Due</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyid">
                            {% for scat in supplier_ledger %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{ scat.supplier }}</td>
                                <td>{{ scat.total_amount }}</td>
                                <td>{{ scat.paid }}</td>
                                <td>{{ scat.due }}</div></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center text-secondary my-5">No Record Found in Database</td>
                            </tr>
                            {% endfor %}                            
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--end page wrapper -->
{% endblock content %}

{% block scripts %}

<script>
    $(document).ready(function() {
        $('#supplierLedger').DataTable();
      } );
</script>

{% endblock scripts %}