{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} change password {% endblock title %}

{% block content %}


	<div class="wrapper">
		<div class="d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
					<div class="col mx-auto">
						<div class="my-4 text-center">
							<img src="assets/images/logo-img.png" width="180" alt="" />
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="text-center">
										<h3 class="">Change Password</h3>
									</div>
									<div class="login-separater text-center mb-4"> <span>Change Password</span>
										<hr/>
									</div>
									<div class="form-body">
										<form method="post" class="row g-3">
											{% csrf_token %}
											{{ form|crispy }}
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-primary"><i class='bx bx-user'></i>Change</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->

{% endblock content %}