{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block content %}


<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Category</div>
        </div>
        <!--end breadcrumb-->
      
        <div class="card">
            <div class="card-body">
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    <div class="position-relative">
                        <input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                    </div>
                  <div class="ms-auto"><button class="btn btn-primary radius-30 mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                    <i class="bx bxs-plus-square"></i>Add Category</button></div>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyid">
                            {% for cat in page %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{ cat.name }}</td>
                                <td>{{ cat.description }}</td>
                                <td><div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3"><i class='bx bxs-circle me-1'></i>{{ cat.status }}</div></td>
                                <td>
                                    <div class="d-flex order-actions">
                                        <a class="btn-edit" data-bs-toggle="modal" data-bs-target="#addCategoryModal" data-cid="{{cat.id}}"><i class='bx bxs-edit'></i></a>
                                        <a class="ms-3 btn-delete" data-cid="{{cat.id}}"><i class='bx bxs-trash'></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center text-secondary my-5">No Record Found in Database</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Render the pagination links using Django's template tags -->
                    <div class="pagination mt-3">
                        {% if page.has_previous %}
                            <a class="btn btn-outline-primary mb-4" href="?page={{ page.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span class="current">
                        <a class="btn btn-outline-primary mb-4"> Page {{ page.number }} of {{ page.paginator.num_pages }}.</a>
                        </span>
                        {% if page.has_next %}
                            <a class="btn btn-outline-primary mb-4" href="?page={{ page.next_page_number }}">Next</a>
                        {% endif %}

                        <p class="btn mb-4 float-end">Total: {{ page.paginator.count }} Data</p>
                    </div>
                </div>
            </div>
        </div>

        {% include "categories/modal/add_category.html" %}

    </div>
</div>
<!--end page wrapper -->
{% endblock content %}

{% block scripts %}
<script>
    $("#btnsave").click(function(e){
        e.preventDefault();
        console.log("Save Button Clicked !");
        output = "";
        let cid = $("#catid").val();
        let nm = $("#nameid").val();
        let des = $("#desid").val();
        let csrf = $("input[name=csrfmiddlewaretoken]").val();

        if(nm == ""){
            console.log("Please Fill Name!")
        }else{
            mydata = {catid:cid, name:nm, description:des, csrfmiddlewaretoken:csrf};
            $.ajax({
                url: "{% url 'saveCategory' %}",
                method: "POST",
                data:mydata,
                dataType: "json",
                success: function(data){
                    x = data.category_data ;
                    if(data.status == "save"){
                        toastr.success('Data Save Successfully');                   
                        for(i=0; i<x.length; i++)
                        {
                            output += "<tr><td>" +  (i+1) + "</td><td>" + x[i].name + 
                                "</td><td>" + x[i].description +
                                "</td><td><div class='badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3'><i class='bx bxs-circle me-1'></i>" + x[i].status + 
                                "</div></td><td><div class='d-flex order-actions'><a class='btn-edit' data-bs-toggle='modal' data-bs-target='#addCategoryModal' data-cid=" + x[i].id + 
                                "><i class='bx bxs-edit'></i></a><a class='ms-3 btn-delete' data-cid=" + x[i].id + 
                                "><i class='bx bxs-trash'></i></a></div>";

                            // Prepend the new row to the table
                            $("#tbodyid").prepend(output);
                        }

                        $("#categoryForm")[0].reset();
                        $("#addCategoryModal").modal('hide');
                        $("#tbodyid").html(output);
                    }
                    if(data.status == 0){
                        toastr.error('Data Save Error');
                        $('form')[0].reset();
                    }
                },
            });
        }

    });

    // Delete Data
    $("tbody").on("click",".btn-delete", function() {
        console.log("Delete btn clicked");
        let id = $(this).attr("data-cid");
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        mydata = {cid:id, csrfmiddlewaretoken:csrf};
        mythis = this;

        Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
		if (result.isConfirmed) {
			$.ajax({
            url: "{% url 'deleteCategory' %}",
            method: "POST",
            data:mydata,
            dataType: "json",
            success: function(data){
                if(data.status == 1){
                    toastr.success('Data Delete Successfully');
                    $(mythis).closest("tr").fadeOut();
                }else{
                    toastr.error('Data Delete Error');
                }
            }
            })
        }
		})

        
    })

    // Editing Data
    $("tbody").on("click",".btn-edit", function() {
        console.log("Edit btn clicked");
        let id = $(this).attr("data-cid");
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        mydata = {cid:id, csrfmiddlewaretoken:csrf};
        $.ajax({
            url: "{% url 'editCategory' %}",
            method: "POST",
            data:mydata,
            dataType: "json",
            success: function(data){
                console.log(data);
                $("#catid").val(data.id);
                $("#nameid").val(data.name);
                $("#desid").val(data.description);
                $("#btnsave").val("Update");
            }
        })
    })
</script>

{% endblock scripts %}