{% load crispy_forms_tags %}
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="modal-new-employee-label"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-info modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header" style="background-color: #17A2B8;">
                <p class="heading">New Employee Information</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="wrapper">
                    <ul class="tabs clearfix tabsNav" data-tabgroup="first-tab-group">
                        <li><a href="#" data-tabid="#tab1" class="tabtrigger active">Personal</a></li>
                        <li><a href="#" data-tabid="#tab2" class="tabtrigger ">Professional</a></li>
                    </ul>

                    <section id="first-tab-group" class="tabgroup">
                        <div class="tabContent" id="tab1">
                            <h2>Personal Data</h2>
                            <form method="post" class="row g-3" id="emp_personalForm">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    {{ formPersonal.title|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.religion|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ formPersonal.first_name|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ formPersonal.middle_name|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ formPersonal.last_name|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.email|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.phone|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.father_name|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.mother_name|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.spouse_name|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.dob|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.gender|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.blood_group|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.last_education|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formPersonal.national_id|as_crispy_field }}
                                </div>
                                <input type="button" class="btn btn-primary" id="btnsave" value="Save">
                            </form>
                        </div>
                        <div class="tabContent" id="tab2">
                            <h2 style="text-align: center" id="pro_emp_name"></h2>
                            <!-- Add professional form fields here -->
                            <h2>Professional Data</h2>
                            <form method="post" class="row g-3" id="emp_professionalForm">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    {{ formProfessional.department|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.section|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.employee_id|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.pf_no|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.designation|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.joining_date|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.card_no|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.overtime|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.transport|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.working_status|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.bank|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ formProfessional.confirm_period|as_crispy_field }}
                                </div>
                                <input type="button" class="btn btn-primary" id="btnsave" value="Save">
                            </form>
                        </div>
                    </section>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-danger waves-effect" data-bs-dismiss="modal">Cancel</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal: modalAbandonedCart-->
<style>
    ul.tabs.tabsNav {
        position: relative;
        padding: 0px;
        list-style-type: none;
    }

    ul.tabs.tabsNav li {
        display: inline-block;
    }

    ul.tabs.tabsNav li a {
        position: relative;
        border: 1px solid #d9d9d9;
        padding: 10px 15px;
        display: block;
        color: #000;
    }

    ul.tabs.tabsNav li a.active,ul.tabs.tabsNav li a:hover {
        background-color: #d5d5d5;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.tabContent').css('display','none');
        $('#tab1').css('display','block');
        $('.tabtrigger').on('click', function(){
            $('ul.tabs.tabsNav li a').removeClass('active');
            $(this).addClass('active');
            var selectedTab = $(this).attr('data-tabid');
            $('.tabContent').css('display','none');
            $(selectedTab).css('display','block');
        });
    });
</script>
